

<h1> SOBRE NÓS</h1>
<p>
<%= link_to "ENemSuei", "http://onemonthrails.com" %>
é um projeto pra fazer com que mais pessoas possam ter acesso ao conteúdo de um curso pré vestibular sem ter que desembolsar muito por isso. 
</p>



