<h1>Bem vindo ao ENemSuei</h1>

<h2> O Site para você mandar bem no vestibular</h2>
<p>

	Saiba
	<%= link_to "Aqui", "http://onemonthrails.com" %>
	como nós podemos te ajudar a estudar!

</p>

<p>
	<%= link_to "Inscreva-se grátis!","#" %>
</p>


